html {
  text-align: center;
}s


@media (prefers-color-scheme: dark) {
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

html {
  color: #8cabd9;
  background-color: #272c34;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flexContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile {
  top: 1em;
  left: 1em;
  text-align: center;
  width: 120px;
  margin-top: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.accordions {
  display:flex;
  align-items: center;
  flex-direction: column;
  /*margin-top: 10%;*/
  margin-bottom: 100px;
}


.MuiAccordion-root {
  min-width:70%;
  max-width: 80%;
}

@media only screen and (max-width: 600px) {
  .MuiAccordion-root {
    min-width:80%;
  }
}

.MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-column{
  flex-wrap: nowrap;
}

.MuiGrid-root.MuiGrid-container div .MuiGrid-container{
  background-color: #00469c;
  border-radius: 16px;
  margin-bottom: 5px;
}



a.raid {
  background-color: #4db6ac;
}

a.dungeon {
  background-color: #03a9f4;
}

a.grandmaster {
  background-color: #617279fb;
  margin-left: -50%;
}

.MuiGrid-root.MuiGrid-container div .MuiGrid-container.flawless{
  background-color: #c49000;
  border-radius: 16px;
  margin-bottom: 5px;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
